.bbp-form{
  border: none!important;
  margin-top: 60px;

  .bbp-template-notice{
    border-radius: 13px;
    background-color: #E4F3FA;
    border-color: transparent;
    >ul{
      list-style: none;
    }
  }

  .bbp-username, .bbp-password, .bbp-email{
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    margin-bottom: 20px;

    input{
      border: 1px solid #CCD2D6 ;
      border-radius: 13px;
      min-height: 54px!important;
    }
  }

  .acf-label{
    margin-bottom: 7px;
  }

  .acf-input{
    margin-bottom: 20px;
    input{
      border: 1px solid #CCD2D6 ;
      border-radius: 13px;
      min-height: 54px!important;
      width: 100%;
    }
  }

  .bbp-username{

    >p{
      display: flex;
      flex-direction: column;
      row-gap: 7px;
      margin-bottom: 20px;

      label{
        width: 100%;
      }
    }
  }

  .bbp-remember-me{
    margin-bottom: 25px;

    label{
      font-size: 15px;
      color: #808F99;
    }
  }

  .bbp-submit-wrapper{
    text-align: left!important;
    width: 100%;

    .submit{
      border: none;
      padding-left: 10px;
      padding-right: 10px;
      @extend .btn;
    }

  }
}

.bbp-author-avatar { 
  display: none ! important; 
}

.bbp-topic-freshness-author  .bbp-author-avatar { 
  display: none ! important; 
}

.page-login, .page-register, .page-forgot{
  
  .bbp-template-notice{
    margin-top: 25px;
  }
} 

// HEADER
.bbPress-fdry-header{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top:75px;
  padding-bottom: 90px;
  .content-block{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .hero-page-title{
    color: #808F99;
  }

  .btn{
    border: 2px solid #2A3890;
    background-color: transparent;
    color: #2A3890;
    padding-left:15px ;
    padding-right: 15px;

    &:hover{
      background-color: #2A3890;
      color: $color__bright;
    }
  }
}

.widget_display_search{
  #bbp_search{
    margin-bottom: 10px;
  }
}


.bbp-template-notice{
  border-radius: 13px!important;
  background-color: #E4F3FA!important;
  border-color: transparent!important;

  >ul{
    list-style: none!important;
  }
}

.widget_display_stats{
  dl{
    dt, dd{
      &:last-of-type{
        display: none;
      }
      &:nth-child(9){
        display: none;
      }
    }

    dd{
      display: inline-block;
      margin-bottom: 8px;
    }
  }
}

.bbp-replies-widget, .bbp-topics-widget{
  li{
    margin-bottom: 8px;

    a{
      color: $color__link-hover;
      font-size: 14px;
      .bbp-author-name{
        font-size: 14px;

      }
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
.bbp-forum-info{
  .bbp-forum-title{
    font-weight: 600;
  }
}

.bbp-user-section{
  h3{
    margin-bottom: 8px;
  }

  .bbp-user-forum-role{
    margin-bottom: 20px;
  }
}

.bbp-topic-freshness{

  a{
    font-size: 14px!important;
  }

}

.bbp-topic-permalink{
  font-weight: 600;
}

.bbp-author-name{
  font-size: 12px;
}

.widget_display_search{
  input[type=text]{
    border: 2px solid #808F99;
    border-radius: 13px;
    padding: 5px 0;
  }
  input[type=submit]{
    background-color: #272766;
    color:$color__bright;
    border: none;
    font-weight: 600;
    padding: 6px 8px;
    font-size: 14px;
    cursor: pointer;
    &:hover{
      background-color: $color__link-hover;
    }
  }
}

.bbpress-wrapper{
  #bbp-search-form{
    display: none;
  }
}

.bbp-breadcrumb{
  p{
    a{
      font-size: 16px;
    }
  }
  .bbp-breadcrumb-current, .bbp-breadcrumb-sep{
    font-size: 16px;
  }

}

#subscription-toggle{
  a{
    font-weight: 600;
  }
}

.bbPress-fdry{
  padding-bottom: 120px;

  .line-grey{
    background-color:#CCD2D6 ;
    width: 100%;
    height: 1px;
    margin-bottom: 70px;
  }

  &-inner{
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 40px;
    row-gap: 40px;

    @include media('<phone'){
      grid-template-columns: 1fr;
    }

  }
}

.bbp-forums{
  .bbp-forum-freshness{
    a{
      font-size: 13px;
    }
  }
}

.fdry-aside-bbPress{
  h2{
    color: #272766;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 15px;
  }

  p{
    color: #0D0D0D;
    font-size: 14px;
    line-height: 20px;

  }

  a,time,li, dd, dt{
    font-size: 14px;
    line-height: 20px;
  }

  .welcome{
    padding-bottom: 45px;
    border-bottom: 1px solid #CCD2D6;

    .title{
      margin: 10px 0 7px;
    }

    >ul{
      list-style: none;
      li{
        margin-bottom: 2px;
        a{
          font-size: 14px;

          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }

  >.widget{
    padding-top: 45px;
    padding-bottom: 45px;
    border-bottom: 1px solid #CCD2D6;
    &:last-of-type{
      border-bottom: none;
    }
  }
}

.bbp-forum-form{
  .bbp-form{
    padding-bottom: 120px;
    legend{
      font-family: $header__fontname;
      font-size: 22px;
      color: #272766;
      font-weight: 700;

    }
    p{
      margin-bottom: 15px;
      label{
        margin-bottom: 4px;
        display: inline-block;
      }
    }
    .bbp-the-content-wrapper{
      margin-bottom: 20px;
    }
  }
}

#bbp-your-profile{
  fieldset{
    border: none;
    .submit{
      background-color: #272766;
      color: $color__bright;
      font-weight: 600;
      padding: 6px 10px;
      border: none;
      font-size: 16px;
      cursor: pointer;

      &:hover{
        background-color: $color__link-hover;
      }
    }
  }
}

label[for=bbp_stick_topic],
label[for=bbp_topic_status],
label[for=bbp_forum_type],
label[for=bbp_forum_status],
label[for=bbp_forum_visibility],
#bbp_stick_topic_select,
#bbp_topic_status_select,
#bbp_forum_type_select,
#bbp_forum_status_select,
#bbp_forum_visibility_select
{
  display: none !important;
}

.bbp-form{
  legend{
    font-size: 22px;
    color: #272766;
  }
}

 .bbp-topic-content p, .bbp-reply-content p {
    font-size: 13px;
}

// REGISTER
.bbp-login-form{
  .bbp-form{
    h2{
      display: none;
    }
  }
}