.about-info{

  padding-top: 75px;
  padding-bottom: 90px;

  h4{
    color: #272766;
    font-size: 36px;
    line-height: 46px;
    max-width:1030px;
    font-weight: 500;
    padding-bottom: 90px;

    @include media('<phone'){
      font-size: 28px;
      line-height: 38px;
    }
  }

  .line-grey{
    width: 100%;
    height: 1px;
    background-color:#CCD2D6 ;
  }

  .hero-page-title{
    color: #808F99;
    margin-bottom: 34px;
  }

}

.about-content{


  .about-grid-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 25px;
    column-gap: 30px;
    margin-bottom: 70px;
    align-items: center;

    @include media('<phone-land'){
      grid-template-columns: 1fr;
    }
  }

  .blue-banner{
    margin-bottom: 70px;
    background: transparent linear-gradient(118deg, #272766 0%, #10103B 100%) 0% 0% no-repeat padding-box;
    padding: 90px 115px;
    font-size: 22px;
    line-height: 32px;
    font-weight: 600;

    @include media('<phone'){
      padding: 60px 25px;
      font-size: 18px;
    }

    p{
      color: $color__bright;
    }
  }

  .u-rich-text{
    line-height: 26px;
    ul>li{
      margin-bottom: 10px;
    }
  }


  .image{
    justify-self: end;

    @include media('<phone-land'){
      justify-self: center;
    }
  }

  .middle-about .image{
    justify-self: start;

    @include media('<phone-land'){
      justify-self: center;
    }
  }


  .figure{
    height: 520px;
    width: 440px;

    @include media('<phone'){
      width: 320px;
    }
  }

  .line-grey{
    width: 100%;
    height: 1px;
    background-color: #CCD2D6;
  }

  .executive{
    padding-top: 70px;
    padding-bottom: 120px;

    h3{
      color: #272766;
      font-size: 36px;
      font-weight: 500;
      margin-bottom: 50px;
      svg{
        margin-right: 10px;
      }
    }
    
    .executive-grid{
      display: grid;
      grid-template-columns: repeat(4 , 1fr);
      row-gap: 38px;
      column-gap: 30px;

      @include media('<phone-land'){
        grid-template-columns: repeat(2 , 1fr);
      }

      @include media('<phone'){
        grid-template-columns: repeat(1 , 1fr);
      }
    }

    .single-executive{
      h5{
        color: #272766;
        font-weight: 600;
        font-size: 22px;
        margin-bottom: 4px;
      }

      .role{
        color: #808F99;
        font-family: $header__fontname;
        font-weight: 700;
        font-size: 14px;
      }
    }

  }


}