.page-events{
  background-color: #F5F6F7;
  padding: 62px 0 90px; 

  .line-grey{
    margin: 63px 0;
    background-color:#CCD2D6 ;
    width: 100%;
    height: 1px;
  }
}

.events-upcoming , .events-past{
  h3{
    font-weight: 500;
    font-size: 36px;
    line-height: 46px;
    color: $color__main;
  }
}

.events-grid{
  display: grid;
  grid-template-columns: repeat(3 ,1fr);
  column-gap: 30px;
  row-gap: 30px;
  margin-top: 37px;
  @include media('<phone-land'){
		grid-template-columns: repeat(2 ,1fr);
	}

  @include media('<phone'){
		grid-template-columns: repeat(1 ,1fr);
	}
}