.news-main{

  padding-bottom: 120px;
  
  .latest-title{
    font-weight: 400;
    color: #272766;
    margin-bottom: 36px;
    font-size: 36px;
  }

  .latest-news{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
    row-gap: 60px;

    @include media('<tablet'){
      grid-template-columns: repeat(2, 1fr);
    }

    @include media('<phone'){
      grid-template-columns: repeat(1, 1fr);
    }
  }

}
.latest-single-news{

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .figure{
    width: 400px;
    height: 275px!important;

    @include media('<desktop'){
      width: 320px;
    }

    @include media('<phone'){
      width: 100%;
    }

  }

  .date{
    font-family: $header__fontname;
    font-size: 14px;
    color: #808F99;
    letter-spacing: 0.5px;
    margin-bottom: 9px;
    font-weight: 700;
  }

  .news-info{
    padding: 20px 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:hover{
      .read-more{
        text-decoration: underline;
      }
      
    }


    >h4{
      color: $color__main;
      font-size: 22px;
      line-height: 30px;
      font-weight: 600;
      margin-bottom: 7px;
    }

    .excerpt{
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 45px;
    }

    .read-more{
      display: inline-block;
      color:#279BD5 ;
      font-family: $header__fontname;
      font-size: 16px;
      font-weight: 900;

      &:hover{
        text-decoration: underline;
      }
    }
  }
}