/* PRESETS
/––––––––––––––––––––––––*/

.content-block {
	//create the "container" with this applied to any row or any 100% width element
	padding: 0 2rem;
	max-width: 1560px;
	width: 100%;
	margin: auto;
	@include media('>phone-land'){
		padding: 0 4rem;
	}
}
.content-block__small {
	//create the "container" with this applied to any row or any 100% width element
	padding: 0 2rem;
	max-width: 1360px;
	width: 100%;
	margin: auto;
	@include media('>phone-land'){
		padding: 0 4rem;
	}
}

.noscroll {
	overflow: hidden;
}

:focus {
	outline: 0;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

%cover {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.figure{
	width: 100%;
	position: relative;
	>img{
		@extend %cover;
		object-fit: cover;
	}
}

.u-rich-text{
	> * {
		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 10px;
	}


	* + h1,
	* + h2,
	* + h3,
	* + h4,
	* + h5,
	* + h6 {
		margin-top: 40px
	}

	a {
		&:hover{
			text-decoration: underline;
		}
	}

	p {
		color: #0D0D0D;
		margin: 20px 0;
		line-height: 26px;
	}

	ul,
	ol {
		margin: 20px 0;
		margin-right: 0;
		margin-left: 30px;

		ul,
		ol {
			margin-top: 5px;
			margin-right: 0;
			margin-bottom: 5px;
			margin-left: 30px
		}
	}

	img{
		height: auto;
		margin-bottom: 15px;
		display: inline-block;
	}

	ul {

		&.wp-block-gallery {
			margin-left: 0
		}
	}

}
