/* PRESETS
/––––––––––––––––––––––––*/

.content-block {
	//create the "container" with this applied to any row or any 100% width element
	padding: 0 2rem;
	max-width: 1560px;
	width: 100%;
	margin: auto;
	@include media('>phone-land'){
		padding: 0 4rem;
	}
}
.content-block__small {
	//create the "container" with this applied to any row or any 100% width element
	padding: 0 2rem;
	max-width: 1360px;
	width: 100%;
	margin: auto;
	@include media('>phone-land'){
		padding: 0 4rem;
	}
}

.noscroll {
	overflow: hidden;
}

:focus {
	outline: 0;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

%cover {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.figure{
	width: 100%;
	position: relative;
	>img{
		@extend %cover;
		object-fit: cover;
	}
}